.footer {
  width: 100%;
  background-color: rgba(33, 33, 33, 0.314);
  backdrop-filter: blur(6px);
  padding-bottom: 1rem;
  margin-top: 10rem;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__logo {
    width: 250px;
    height: 110px;
    object-fit: cover;
    display: flex;
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__icon {
    font-size: 2rem;
    color: white;
    &:hover {
      cursor: pointer;
      color: limegreen;
    }
    &:active {
      color: green;
    }
  }
  &__end {
    text-align: center;
  }
  &__text {
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 0.5px;
    color: white;
    span {
      text-decoration: underline;
    }
  }
  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 450px) {
  .footer {
    padding: 0.25rem 0 1rem;
    margin-top: 7rem;
  }
  .footer__logo {
    width: 170px;
    height: 100px;
  }
}
